<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <meta http-equiv=X-UA-Compatible content="IE=edge">
  <meta name=viewport content="width=device-width,initial-scale=1">
  <link rel=icon href=" {{url_for("static", filename="img/faveicon.ico")}} " >
  <title>Убер-Опрос</title>
  <link rel=stylesheet href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
  <link rel=stylesheet href="https://fonts.googleapis.com/css?family=Material+Icons">
  <link href=" {{url_for("static", filename="css/chunk-vendors.3ac5a760.css")}} "  rel=preload as=style>
  <link href=" {{url_for("static", filename="js/app.5da4d2d9.js")}} "  rel=preload as=script>
  <link href=" {{url_for("static", filename="js/chunk-vendors.7ea10870.js")}} "  rel=preload as=script>
  <link href=" {{url_for("static", filename="css/chunk-vendors.3ac5a760.css")}} "  rel=stylesheet>
</head>
<body>
  <noscript><strong>Сорри, убер-опрос не работает без JS.</strong></noscript>
  <div id=app></div>
  <script src=" {{url_for("static", filename="js/chunk-vendors.7ea10870.js")}} " ></script>
  <script src=" {{url_for("static", filename="js/app.5da4d2d9.js")}} " ></script>
</body>
</html>
